#footer
    position relative
    margin 10px auto
    span 
        color: #ffffff
        display inline-block
        width: 100%
        text-align: center
        line-height: 2rem

    